[submodule "arti"]
	path = arti
	url = https://gitlab.torproject.org/tpo/core/arti.git
[submodule "shadowmenu"]
	path = shadowmenu
	url = https://github.com/roydsouza/shadowmenu.git
[submodule "guardian"]
	path = guardian
	url = https://github.com/roydsouza/guardian
[submodule "penumbra"]
	path = penumbra
	url = https://github.com/roydsouza/penumbra.git
