keys/
bin/
var/
etc/
**/target/
**/node_modules/
PROMPTS.md
torrc
!etc/arti.toml
# Databases
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# Binaries and Large Files
*.pcap
*.dylib
*.bin
*.exe
*.o
*.a
*.so
